server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/vmflstm1119/spring-cloud-config-yml.git
#          uri: file://C:\Users\dongjin931-PC\Desktop\git\spring-cloud-config\spring-cloud-config-git #로컬 git repository로 설정하였을 떄
#          username: gitId # git repository가 private일 때
#          password: gitpwd

