server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: file://C:\Users\dongjin931-PC\Desktop\git\spring-cloud-config\spring-cloud-config-git

